<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

</head>


<div class="container m-5">
<div class="warning">
    <h2 class="text-center bg-warning  p-2">Names</h2></div>
<table class="table table-hover">
  <thead class="thead-dark">
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
    </tr>
  </thead>
  <tbody>
  {% for n in names %}
    <tr>
      <th scope="row">{{n.id}}</th>
      <td>{{n.aa}}</td>
    </tr>
  {% endfor %}
  </tbody>
</table>
</div>
</div>
</body>
</html>